{% extends "layout.html" %}

{% block left_content %}


<div class="user-infos">


      <div class="row">
          <div class="col-xs-6 col-md-3">
                <div id="user-avatar">
                    <img src="{{url_for("user.uploaded_file", filename=user.avatar)}}" alt="avatar">
                    <a class="btn btn-default btn-sm" href="{{url_for("user.change_avatar", name=user.name)}}" role="button">自定义头像</a>
                </div>
                
          </div>
          <div class="col-xs-12 col-md-9" class="user-info">
                <h1>{{user.name}}</h1>
                <p><span>邮箱：</span>{{user.email}}</p>
                <p><span>注册时间：</span>{{user.created_time.date()}}</p>
                <p><span>状态：</span>{% if user.confirmed %}已验证{% else %}未验证账户{% endif %}</p>  
          </div>
      </div>
    

      <hr role="separator" class="divider"></hr>
    
        <div class="user-desc">
            <h2>自我介绍</h2>
            {{user.about_me}}
        </div>

<h2>你的问题：</h2>
<ul>
{% for q in questions %}
<li><a href="{{url_for("main.question_detail", id=q.id)}}">{{q.content | truncate(100, end="...")}}</a></li>
{% endfor %}
</ul>
<hr>
<h2>你的标签:</h2>
<ul>
    {% for t in tags %}
    <li><a href="{{url_for("main.tag", name=t.name)}}">{{t.name}}</a></li>
    {% endfor %}
</ul>
</div>
{% endblock %}
